*{
		margin: 0;
		padding: 0;
		border: 0;
		box-sizing: border-box;
		font-family: Century Gothic;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	body {
	  background: #999;
	  width: 100%;
	}
  }


body {
	background-image: url("/1920x1080.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}


ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
} 

ul li a:hover{
	background-color: #fff;
	color: #000;
}

.main{
	max-width: 1200px;
	margin: auto;
	right: 100%;
	
}
ul li.active a{
	background-color: #fff;
	color: #000;
}

.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.title h1{
	color: #fff;
	font-size: 70px;

}

.button{
	position: absolute;
	top: 62%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.btn{
	border: 1px solid #fff;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	transition: 0.6s ease;
}

.btn:hover{
	background-color: #fff;
	color: #000;
}



.stream-schedule {
	color: red;
	position: absolute;
	bottom: 0px;
	border: 3px solid #ff0000;
	left: 11px;
}



.privacy-policy{
	background-color: rgb(25, 0, 255);
		width: 8.9rem;
}





