*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Century Gothic;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
body {
  background: #999;
  width: 100%;
}
}
body {
	background-image: url("/1920x1080.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
}


ul{
float: right;
list-style-type: none;
margin-top: 25px;
}


ul li{
display: inline-block;
}

ul li a{
text-decoration: none;
color: #fff;
padding: 5px 20px;
border: 1px solid transparent;
transition: 0.6s ease;
}

ul li a:hover{
background-color: #fff;
color: #000;
}

.main{
max-width: 1200px;
margin: auto;
right: 100%;
}

ul li.active a{
background-color: #fff;
color: #000;
}





.smirk-events {
	color: black;
    /* position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -370px;
    margin-left: -960px; */
    font-size: x-large;
}

#link1 {
  color: black;
  font-size: larger;
}



.smirk-events h1{
  width: 50rem;
}


.smirk-events-thanksgiving {
  position: absolute;
  /* right: 0%;
  top: 50%; */
  color: black;

  transform: translateY(-50%);
  width: 50rem;
}

#link2 {
  color: black;
  font-size: x-large;
}

.smirk-events-thanksgiving, #link2 {
  font-size: x-large;
  right: 1px;
}

.events {
  position: absolute;
  left: 500px;
  top: 300px;
  transform: translateY(-50%);
}
.smirk-events-thanksgiving {
  bottom: -39rem;
}
